table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
