.wrapper {
  display: flex;
}

.sidebar {
  background-color: #333;
  color: #fff;
  width: 200px;
  height: 100vh;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
}

.content {
  padding: 20px;
  width: calc(100% - 200px);
}

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 10px;
}

input[type=number] {
  margin-bottom: 20px;
}

input[type=submit] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
